{
	"actionBarSelectOffset": [
		-1,
		-1
	],
	"countMidAnchor": [
		10,
		-6
	],
	"linkCursor": "/cursors/link.cursor",
	"sounds": {
		"switch": [
			"/sfx/interface/actionbar_select.ogg"
		]
	},
	"paneLayout": {
		"panefeature": {
			"type": "panefeature",
			"anchor": "CenterBottom"
		},
		"background": {
			"type": "background",
			"fileHeader": "",
			"fileBody": "/interface/actionbar/actionbarbg.png",
			"fileFooter": ""
		},
		"customBar1L": {
			"type": "itemslot",
			"position": [
				10,
				4
			],
			"backingImage": "/interface/actionbar/actionbarcover.png",
			"showBackingImageWhenEmpty": false,
			"showBackingImageWhenFull": true,
			"showDurability": true,
			"zlevel": 1
		},
		"customBar1LOverlay": {
			"type": "image",
			"file": "/interface/actionbar/actionbaroverlay.png",
			"position": [
				10,
				4
			],
			"visible": false,
			"zlevel": 2
		},
		"customBar1R": {
			"type": "itemslot",
			"position": [
				27,
				4
			],
			"backingImage": "/interface/actionbar/actionbarcover.png",
			"showBackingImageWhenEmpty": false,
			"showBackingImageWhenFull": true,
			"showDurability": true,
			"zlevel": 1
		},
		"customBar1ROverlay": {
			"type": "image",
			"file": "/interface/actionbar/actionbaroverlay.png",
			"position": [
				27,
				4
			],
			"visible": false,
			"zlevel": 2
		},
		"customBar2L": {
			"type": "itemslot",
			"position": [
				50,
				4
			],
			"backingImage": "/interface/actionbar/actionbarcover.png",
			"showBackingImageWhenEmpty": false,
			"showBackingImageWhenFull": true,
			"showDurability": true,
			"zlevel": 1
		},
		"customBar2LOverlay": {
			"type": "image",
			"file": "/interface/actionbar/actionbaroverlay.png",
			"position": [
				50,
				4
			],
			"visible": false,
			"zlevel": 2
		},
		"customBar2R": {
			"type": "itemslot",
			"position": [
				67,
				4
			],
			"backingImage": "/interface/actionbar/actionbarcover.png",
			"showBackingImageWhenEmpty": false,
			"showBackingImageWhenFull": true,
			"showDurability": true,
			"zlevel": 1
		},
		"customBar2ROverlay": {
			"type": "image",
			"file": "/interface/actionbar/actionbaroverlay.png",
			"position": [
				67,
				4
			],
			"visible": false,
			"zlevel": 2
		},
		"customBar3L": {
			"type": "itemslot",
			"position": [
				90,
				4
			],
			"backingImage": "/interface/actionbar/actionbarcover.png",
			"showBackingImageWhenEmpty": false,
			"showBackingImageWhenFull": true,
			"showDurability": true,
			"zlevel": 1
		},
		"customBar3LOverlay": {
			"type": "image",
			"file": "/interface/actionbar/actionbaroverlay.png",
			"position": [
				90,
				4
			],
			"visible": false,
			"zlevel": 2
		},
		"customBar3R": {
			"type": "itemslot",
			"position": [
				107,
				4
			],
			"backingImage": "/interface/actionbar/actionbarcover.png",
			"showBackingImageWhenEmpty": false,
			"showBackingImageWhenFull": true,
			"showDurability": true,
			"zlevel": 1
		},
		"customBar3ROverlay": {
			"type": "image",
			"file": "/interface/actionbar/actionbaroverlay.png",
			"position": [
				107,
				4
			],
			"visible": false,
			"zlevel": 2
		},
		"customBar4L": {
			"type": "itemslot",
			"position": [
				216,
				4
			],
			"backingImage": "/interface/actionbar/actionbarcover.png",
			"showBackingImageWhenEmpty": false,
			"showBackingImageWhenFull": true,
			"showDurability": true,
			"zlevel": 1
		},
		"customBar4LOverlay": {
			"type": "image",
			"file": "/interface/actionbar/actionbaroverlay.png",
			"position": [
				216,
				4
			],
			"visible": false,
			"zlevel": 2
		},
		"customBar4R": {
			"type": "itemslot",
			"position": [
				233,
				4
			],
			"backingImage": "/interface/actionbar/actionbarcover.png",
			"showBackingImageWhenEmpty": false,
			"showBackingImageWhenFull": true,
			"showDurability": true,
			"zlevel": 1
		},
		"customBar4ROverlay": {
			"type": "image",
			"file": "/interface/actionbar/actionbaroverlay.png",
			"position": [
				233,
				4
			],
			"visible": false,
			"zlevel": 2
		},
		"customBar5L": {
			"type": "itemslot",
			"position": [
				256,
				4
			],
			"backingImage": "/interface/actionbar/actionbarcover.png",
			"showBackingImageWhenEmpty": false,
			"showBackingImageWhenFull": true,
			"showDurability": true,
			"zlevel": 1
		},
		"customBar5LOverlay": {
			"type": "image",
			"file": "/interface/actionbar/actionbaroverlay.png",
			"position": [
				256,
				4
			],
			"visible": false,
			"zlevel": 2
		},
		"customBar5R": {
			"type": "itemslot",
			"position": [
				273,
				4
			],
			"backingImage": "/interface/actionbar/actionbarcover.png",
			"showBackingImageWhenEmpty": false,
			"showBackingImageWhenFull": true,
			"showDurability": true,
			"zlevel": 1
		},
		"customBar5ROverlay": {
			"type": "image",
			"file": "/interface/actionbar/actionbaroverlay.png",
			"position": [
				273,
				4
			],
			"visible": false,
			"zlevel": 2
		},
		"customBar6L": {
			"type": "itemslot",
			"position": [
				296,
				4
			],
			"backingImage": "/interface/actionbar/actionbarcover.png",
			"showBackingImageWhenEmpty": false,
			"showBackingImageWhenFull": true,
			"showDurability": true,
			"zlevel": 1
		},
		"customBar6LOverlay": {
			"type": "image",
			"file": "/interface/actionbar/actionbaroverlay.png",
			"position": [
				296,
				4
			],
			"visible": false,
			"zlevel": 2
		},
		"customBar6R": {
			"type": "itemslot",
			"position": [
				313,
				4
			],
			"backingImage": "/interface/actionbar/actionbarcover.png",
			"showBackingImageWhenEmpty": false,
			"showBackingImageWhenFull": true,
			"showDurability": true,
			"zlevel": 1
		},
		"customBar6ROverlay": {
			"type": "image",
			"file": "/interface/actionbar/actionbaroverlay.png",
			"position": [
				313,
				4
			],
			"visible": false,
			"zlevel": 2
		},
		"customSelect": {
			"type": "image",
			"file": "/interface/actionbar/selectedslot-custom.png",
			"position": [
				-20,
				-20
			]
		},
		"essentialBar1": {
			"type": "itemslot",
			"position": [
				133,
				7
			],
			"backingImage": "/interface/actionbar/actionbarcover.png",
			"showBackingImageWhenEmpty": false,
			"showBackingImageWhenFull": true,
			"rightClickCallback": "null",
			"zlevel": 2
		},
		"essentialBar2": {
			"type": "itemslot",
			"position": [
				152,
				7
			],
			"backingImage": "/interface/actionbar/actionbarcover.png",
			"showBackingImageWhenEmpty": false,
			"showBackingImageWhenFull": true,
			"rightClickCallback": "null",
			"zlevel": 2
		},
		"essentialBar3": {
			"type": "itemslot",
			"position": [
				171,
				7
			],
			"backingImage": "/interface/actionbar/actionbarcover.png",
			"showBackingImageWhenEmpty": false,
			"showBackingImageWhenFull": true,
			"rightClickCallback": "null",
			"zlevel": 2
		},
		"essentialBar4": {
			"type": "itemslot",
			"position": [
				190,
				7
			],
			"backingImage": "/interface/actionbar/actionbarcover.png",
			"showBackingImageWhenEmpty": false,
			"showBackingImageWhenFull": true,
			"rightClickCallback": "null",
			"zlevel": 2
		},
		"essentialSelect": {
			"type": "image",
			"file": "/interface/actionbar/selectedslot-essential.png",
			"visible": false
		},
		"pickupToActionBar": {
			"type": "button",
			"position": [
				332,
				0
			],
			"base": "/interface/actionbar/actionbarpickup.png:unchecked",
			"baseImageChecked": "/interface/actionbar/actionbarpickup.png:checked",
			"checkable": true
		},
		"swapCustomBar": {
			"type": "button",
			"position": [
				4,
				3
			],
			"base": "/interface/actionbar/swapcustombarone.png",
			"baseImageChecked": "/interface/actionbar/swapcustombartwo.png",
			"checkable": true
		}
	}
}